@using Vidly.Repositorio;

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

            var user = UserRepositorio.GetUserLogged().Customer;
            var userId = user.Id;
            var userName = user.Name;

        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li style="font-weight:bold">
                <a>Olá @userName!</a>
            </li>
            <li>
                @Html.ActionLink("Perfil", "Index", "Profile/" + userId)
            </li>
            <li>
                @Html.ActionLink("Alugados", "Library/" + userId, "Movies")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registro", "Singup", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
